version: "3.8"
services:
  timescaledb:
    image: timescale/timescaledb:2.11.3-pg15
    container_name: statmuse_timescale
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: statmuse_timescale
    ports:
      - "5433:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data:
    driver: local
