fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
alembic
asyncpg
psycopg2-binary
redis
cachetools
httpx
requests
nba_api
pandas
numpy
scikit-learn
xgboost
joblib
prometheus_client
requests==2.31.0
urllib3==1.26.16
pyarrow
